.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.modal-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap {
  position: absolute;
  z-index: 10;
  width: 300px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.modal-wrap-header {
  height: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.modal-wrap-header h3 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}
.modal-wrap-header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 25px;
  color: #666666;
}

.modal-wrap-content {
  /* min-height: 100px; */
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  padding: 10px;
}

.modal-wrap-footer {
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
